@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
    font-family: 'Changa';
    src: url('./assets/Changa-VariableFont_wght.ttf') format('truetype');
  }



body{
    
    font-family: 'Changa', sans-serif;
    overflow-x: hidden;

}

.linear-gradient-bg-paylink{
    background: linear-gradient(90deg, #4301E9 0%, #4907f0b6 100%);
}