@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
    font-family: 'Changa';
    src: url('./assets/Changa-VariableFont_wght.ttf') format('truetype');
  }



body{
    
    font-family: 'Changa', sans-serif;
    overflow-x: hidden;
    background-color: #E9E9E9;

}

.linear-gradient-bg-paylink{
    background: linear-gradient(90deg, #4301E9 0%, #4907f0b6 100%);
}

.linear-gradient-bg-navigationapp{
  background: linear-gradient(90deg, #4301E9 0%, #7049d5 80%);
}


/* scroll bar styles */
*::-webkit-scrollbar {
    width: 10px; 
    height:10px;              /* width of the entire scrollbar */
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #b0b0b05e;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
  }


  /* animation menu index*/
  .menu-index-enter{
    animation: menu-index-enter 1s ease-in-out;
  }

  @keyframes menu-index-enter {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  /* animation menu index*/
  .menu-index-out{
    animation: menu-index-out 1s ease-in-out;
  }

  @keyframes menu-index-out {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(200%);
    }
  }